<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653168814681-cn31gtf3uhr9vq2q3trk7mu3m5314r4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653168814681-cn31gtf3uhr9vq2q3trk7mu3m5314r4j</string>
	<key>API_KEY</key>
	<string>AIzaSyD6UuDNs92MwNAyKsAAzGSw2ujj522pCng</string>
	<key>GCM_SENDER_ID</key>
	<string>653168814681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCrudFirestone</string>
	<key>PROJECT_ID</key>
	<string>flutter-crud-bd43f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-crud-bd43f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653168814681:ios:05fddc9e05772a65eadf48</string>
</dict>
</plist>